html {
  font-size: 16px;
}

body {
  font-family: 'Baloo Da 2', serif;
}

::-webkit-input-placeholder {
  font-family: 'Baloo Da 2', serif;
}
:-moz-placeholder {
  font-family: 'Baloo Da 2', serif;
}
::-moz-placeholder {
  font-family: 'Baloo Da 2', serif;
}
