
.form--card {
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__titulo {
  font-size: 1.5em;
  font-weight: bold;
}

.form__logo {
  width: 5rem;
  height: auto;
}

.form__fila {
  margin: 1rem 0;
  width: 80%;
}

.form__input--full {
  width: 100%;
  font-size: 0.8em;
}

.form__botonera {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.form__boton--primario {
  height: 2.5rem;
  width: 10rem;
  border-radius: 0.5rem;
  background-color:steelblue;
  color: white;
  margin: 1em 0;
}

.form__link {
  color:steelblue;
}

