
.form--card {
  font-size: 1.2em;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form__titulo {
  font-size: 1.5em;
  font-weight: bold;
}

.form__logo {
  width: 5rem;
  height: auto;
}

.form__fila {
  margin: 1rem 0;
  width: 50%;
}

.form__input--full, .form__input--medium {
  font-size: 0.9em;
}

.form__input--full {
  width: 100%;
}

.form__input--medium {
  width: 50%;
}

.form__botonera {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.form__boton--primario {
  height: 2.5rem;
  width: 10rem;
  border-radius: 0.5rem;
  background-color:steelblue;
  color: white;
  margin: 1em 0;
}

.form__link {
  color:steelblue;
}

/* Agregado por el formulario de contacto */

.form__textarea--full {
  padding: 0.4rem;
}

